@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

:root {
    --color-primary: rgba(23, 23, 75, 0.87);
    --font-title: 'Raleway', sans-serif;
    --font-p: 'Roboto', sans-serif;
}

html,body {
    padding: 0px;
    margin: 0 auto;
    box-sizing: border-box;
}

h1{
    font-size: 3em;
    font-family: var(--font-title);
    color:var(--color-primary);
    text-transform: uppercase;
}

h2 {
    font-size: 2em;
    font-family: var(--font-title);
    color: var(--color-primary);
    text-transform: capitalize;
    }

h3 {
    font-size: 1.5em;
    font-family: var(--font-title);
    color: var(--color-primary);
    text-transform: capitalize;
}

p {
    padding: 0 2rem;
    font-size: 1.5em;
    font-family: var(--font-p);
    font-weight: 1;
}
.width-30 {
    width: 30%;
}
.width-70 {
    width: 70%;
}
.bg-blue {
    background-color: var(--color-primary);
}
.color-white {
    color: #fff;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.container section {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.container section div {
    padding: .5rem;
}

.head .foto {
    display: flex;
    justify-content: center;
    align-items: center;
}

.head .foto img {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    object-fit: contain;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.info-card {
    display: flex;
    align-items: center;
    justify-content:flex-start;
}

.info-card .text {
    font-size: 1.5em;
    font-family: var(--font-p);
    font-weight: 100;
    color: var(--color-primary);
}

ul li {
    color: var(--color-primary);
    font-family: var(--font-p);
    font-size: 1em;
    margin: 1rem;
}


@media only screen and (max-width: 800px) {
    .container section {
      flex-direction: column;
    }
    .container section div {
        width: 100%;
    }
    .info-card {
        flex-direction: column;
    }
  }